<ion-header>
  <ion-toolbar color="primary">
  <ion-title>Sign-In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="img-perfil">
    <!-- <img src="https://p.w3layouts.com/demos/june-2016/01-06-2016/model_profile_widget/web/images/p1.png" title="Aisha" alt="foto-perfil"> --> 
    <ion-img src="assets/Doctor.png"></ion-img>
  </div>
  <h1>{{user.email}}</h1>
  <hr>
  <p>Lista de Pacientes</p>
  <ion-list>
    <ng-container *ngIf="!todos || todos.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
  </ion-list>
  <ion-row>
    <ion-col style="text-align: center; margin-top: 5%;">
        <ion-button size="large" (click)="Sair()"><ion-icon slot="end" name="log-out"></ion-icon>
          Sair
        </ion-button>
    </ion-col>
  </ion-row>
  <ion-fab slot="fixed" class="addPaciente">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
