.addPaciente{position: absolute; top: 85%; left: 75%}
.img-perfil{width:150px; height:150px; margin: auto; border: 5px solid transparent; border-radius: 100%;}

h1{color:#11B771; margin-top: 3%; text-align: center; font-size:2em;}
p{font-size:1.5em; color: #002efc; text-align: center;}
hr{border-top: 4px solid #d9dadc; display: block; line-height: 2px; margin: 15px 0; position: relative;}

.fake-skeleton {
    width: 60%;
}