<ion-app class="background">
  <div class="logo">
    <ion-img src="assets/logogpk.png"></ion-img>
  </div>
  <div class ="input">
    <ion-item>
      <ion-label position="floating" text-left>E-mail</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" text-left>Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </div> <!-- 
    <div class="btn-sign">
    <ion-button shape="round" size="large">
      <ion-icon slot="start" name="checkmark"></ion-icon>
      Sing-in
    </ion-button>
    <ion-label>Forgot Password? No Problem!</ion-label>
  </div>  -->
</ion-app>
