<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="BackHome()">
        <ion-icon slot="icon-only" name="arrow-round-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sign-Up</ion-title>
  </ion-toolbar>
</ion-header>

<div class="logo">
  <ion-img src="assets/solucao-consultorio.png"></ion-img>
</div>

<ion-content padding>
    <ion-item style="margin-top: 5%;">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input required type="email" [(ngModel)]="todo.email" #usuario></ion-input>
    </ion-item>
    <ion-item style="margin-top: 5%;">
      <ion-label position="floating">Name</ion-label>
      <ion-input required type="text" style="text-transform:uppercase" [(ngModel)]="todo.name"></ion-input>
    </ion-item>
    <ion-item style="margin-top: 5%;">
      <ion-label position="floating">Password</ion-label>
      <ion-input required type="password" [(ngModel)]="todo.password" #senha></ion-input>
    </ion-item>
    <ion-row>
      <ion-col style="text-align: center; margin-top: 5%;">
          <ion-button size="large" (click)="cadastrarUsuario()"><ion-icon slot="end" name="checkmark"></ion-icon>
            Sign-In
          </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
